ul.products {
	padding: 0;
	margin: 0;
}

ul.products li {
	display: block;
}

.btn-outline.btn-red {
	color: #ff5a3c;
	border-color: #ff5a3c;
}

.btn-outline.btn-red:hover {
	color: #fff;
	background-color: #ff5a3c;
}